# Patterns excuted by git
# .gitignore
# 2015 (c) Isabell Cowan

# All hidden files
**/.*

# JetBrains project files
**/*.iml
**/*.ipr

# Externel libraries
**/lib*

# Compiled outputs
**/bin
**/build

# Generated sources
**/gen
**/R.*

# Local package locations
**/local.properties

# vim: set ts=2 sw=2 et syn=txt:
