#
# .gitignore
# 2015 (c) Isabell Cowan

# Gradle cache
.gradle/

# JetBrains config files
.idea/
Unanimus.iml
UnanimusProject/UnanimusProject.iml

# Generated sources
UnanimusProject/gen/

# Local libraries
UnanimusProject/libs/

# Build
build/
UnanimusProject/build/

# Dependency/SDK locations
configure.vars
unanimus.properties
UnanimusProject/module_unanimusproject.properties

# vim: set ts=2 sw=2 et syn=txt:
