<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjgilbert.unanimus"
    android:versionName="0.8.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.sjgilbert.unanimus.UnanimusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name="com.sjgilbert.unanimus.PlacePickActivity"
            android:value="@string/ppa_title" />

        <activity
            android:name="com.sjgilbert.unanimus.MakeGroupActivity"
            android:label="@string/mga_title" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.sjgilbert.unanimus.IntroPageActivity"
            android:label="@string/ipa_title"/>

        <activity
            android:name="com.sjgilbert.unanimus.LoginActivity"
            android:label="@string/ipa_login_link"/>

        <activity
            android:name="com.sjgilbert.unanimus.RegisterActivity"
            android:label="@string/ipa_register_link"/>

        <activity
            android:name="com.sjgilbert.unanimus.MainActivity"
            android:label="@string/ma_title"/>

        <activity
            android:name="com.sjgilbert.unanimus.FriendPickerActivity"
            android:label="@string/fpa_title"/>

        <activity
            android:name="com.sjgilbert.unanimus.GroupActivity"
            android:label="@string/ga_title"/>

        <activity
            android:name="com.sjgilbert.unanimus.StartupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sjgilbert.unanimus.JoinGroupActivity"
            android:label="@string/jga_title"/>
    </application>

</manifest>

    <!-- vim: set ts=4 sw=4 et syn=xml: -->
